.encabezado-naayeri-div {
    position: relative; /* Añade un contexto de posición para el contenido superpuesto */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow: hidden; /* Asegura que el video no sobresalga del div */
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el div sin distorsionarse */
    z-index: -1; /* Envía el video al fondo para que el texto esté encima */
}

.titulo-naayeri-encabezado{
    color:white;
    font-size: clamp(24px, 4vw, 70px);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    z-index: 1; 
}

.conoce-comunidad-div{
    display: flex;
    flex-direction: column;
    background-color: #3E4D3D;
}

.conoce-comunidad-titulo{
    color:white;
    font-size: clamp(12px, 4vw, 48px);
    font-weight: 780;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.grid-conoce-comunidad{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 45px;
}

.imgConoceComunidad{
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
}

.texto-conoce-comunidad{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 500px;
    flex-grow: 9999;
}

.texto-conoce-comunidad p{
    color: #ffffff;
    font-weight: 400;
    text-align: justify;
    font-size: clamp(13px, 2vw, 18px);
    font-family: 'Montserrat', sans-serif;
}

.texto-conoce-comunidad p strong{
    color: #FF9AE6;
}

.relevancia-div{
    display: flex;
    flex-direction: column;
    background-color: #EAE6E3;
    gap: 35px;
}

.relevancia-titulo{
    color:rgb(0, 0, 0);
    font-size: clamp(12px, 4vw, 48px);
    font-weight: 780;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.grid-relevancia{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 45px;
}

.texto-relevancia{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 500px;
    flex-grow: 9999;
}

.texto-relevancia p{
    color: #000000;
    font-weight: 400;
    text-align: justify;
    font-size: clamp(13px, 2vw, 18px);
    font-family: 'Montserrat', sans-serif;
}

.texto-relevancia p strong{
    color: #49994D;
}

.educacion-div{
    display: flex;
    flex-direction: column;
    background-color: #738063;
}

.educacion-titulo{
    color:white;
    font-size: clamp(12px, 4vw, 48px);
    font-weight: 780;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.grid-educacion{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 45px;
}

.texto-educacion{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 500px;
    flex-grow: 9999;
}

.texto-educacion p{
    color: #ffffff;
    font-weight: 400;
    text-align: justify;
    font-size: clamp(13px, 2vw, 18px);
    font-family: 'Montserrat', sans-serif;
}

.texto-educacion p strong{
    color: #FF9AE6;
}

.tradicion-titulo{
    color:rgb(0, 0, 0);
    font-size: clamp(12px, 4vw, 48px);
    font-weight: 780;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.texto-tradicion{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 500px;
    flex-grow: 9999;
}

.texto-tradicion p{
    color: #ffffff;
    font-weight: 400;
    text-align: justify;
    font-size: clamp(13px, 2vw, 18px);
    font-family: 'Montserrat', sans-serif;
}

.texto-tradicion p strong{
    color: #FF9AE6;
}


.grid-invernadero{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 45px;
}

.texto-invernadero{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 500px;
    flex-grow: 9999;
}

.texto-invernadero p{
    color: #ffffff;
    font-weight: 400;
    text-align: justify;
    font-size: clamp(13px, 2vw, 18px);
    font-family: 'Montserrat', sans-serif;
}

.texto-invernadero p strong{
    color: #FF9AE6;
}
