.navbar-wrapper {
    background-color: #EAE6E3;
}

.navbar-container {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    max-width: none !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-img {
    height: 70%;
    width: auto;
    cursor: pointer;
    z-index: 4;
}

.navbar-content-center {
    display: flex;
    gap: 16px;
    flex-grow: 1;
}

.navbar-content-end {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #3E4D3D;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.navbar-link:hover {
    font-weight: 400;
    color: #4e8664;
}

.donar-button {
    margin-right: 8px;
    background-color: #38473E;
    color: #EAE6E3;
    border: none;
    border-radius: 13px;
    padding: 13px 40px;
    font-size: 20px;
    font-family: 'Montserrat';
    cursor: pointer;
}

.donar-button:hover {
    color: #3E4D3D;
    background-color: #ff9ae6;
}

.dropdown-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-button:hover .navbar-link {
    font-weight: 400;
    color: #4e8664;
}
